<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

<div class="container">
	<div class="row">
		<div class="col-sm-6">
			 
	 <h3 class="tieude"> tieu de</h3>
							<div class="info">  consectetur   deserunt, perspiciatis assumenda nulla eveniet, dolores aliquid, voluptate officiis enim cupiditate quos, dicta sed!</div>
	 <div class="trichdan">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus sed commodi, iure deleniti tempore aspernatur in dolor, numquam saepe sit quidem porro, tempora fugit repellat! Ut praesentium laborum fuga quisquam?
				</div>
			 
		</div>
	</div>
</div>
	
</body>
</html>